- name: Install chrony package
  ansible.builtin.package:
    name: chrony
    state: present

- name: Prepare system
  block:
    - name: Create log directory
      ansible.builtin.file:
        dest: chrony_conf.logdir
        state: directory
        mode: '0750'
      when: chrony_conf.logdir is defined

    - name: Create drift directory
      ansible.builtin.file:
        dest: '{{ chrony_conf.driftfile | basename }}'
        state: directory
        mode: '0750'
      when: chrony_conf.driftfile is defined

    - name: Generate chrony.conf
      ansible.builtin.template:
        src: templates/chrony.conf.j2
        dest: /etc/chrony/chrony.conf
        mode: '0664'
      notify:
        - Restart chronyd

    - name: Get facts on current container
      community.docker.current_container_facts:

    - name: Enable chronyd service
      ansible.builtin.service:
        name: chrony
        enabled: true
      when: not ansible_module_running_in_container
  when: chrony_conf is defined
